<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="content">
    <h2>Top Covered Call Opportunities</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Ticker</th>
            <th>Strike</th>
            <th>Premium</th>
            <th>PoP</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="call : ${calls}">
            <td th:text="${call.ticker}"></td>
            <td th:text="${#numbers.formatDecimal(call.strike, 1, 2)}"></td>
            <td th:text="${#numbers.formatDecimal(call.premium, 1, 2)}"></td>
            <td th:text="${#numbers.formatPercent(call.pop, 0, 0)}"></td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>